@{
    Layout = "_ClientLayout";
}

<link rel="stylesheet" href="~/client/assets/Styles/scss/index.css">


<!-- First Top slider -->
<div class="customcontainer top-slider">
    <div class=" imgCarousel">
        <a class="img-card">
            <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/image-1700567054.jpg" alt="">
        </a>
        <a class="img-card">
            <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/image-1688121418.jpeg" alt="">
        </a>
        <a class="img-card">
            <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/image-1700218281.jpg" alt="">
        </a>
        <a class="img-card">
            <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/image-1700218452.jpg" alt="">
        </a>
        <a class="img-card">
            <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/image-1700218030.jpg" alt="">
        </a>
    </div>

</div>

<!-- Middle Sections -->
<div>
    <!-- Orden section(sifarish et) -->
    <div class="customcontainer order-sc d-flex justify-content-center">
        <div class="tracking-form">
            <h4 class="order-inf">Sifariş vermək asandır!</h4>
            <form class="order-form">
                <div class="row-div">
                    <div class="form-group form-inp">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
                            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
                        </svg>
                        <input class="order-inp" type="text" placeholder="Məhsulun linkini əlavə et">
                    </div>
                    <div class="form-group  ">
                        <button class="main-order-btn login-btn " type="submit">
                            <span class="login-tag">SİFARİŞ ET</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <!-- Middle Section -->
    <div class="middlecontainer">

        <!-- Markets section -->
        <div class="market-main-pg">
            <div class="home">
                <div class="block-market">
                    <div class="markets-header">
                        <h4>MAĞAZALAR</h4>
                    </div>
                    <div class="markets-body">
                        <div class="store-list">
                            <div class="row store-list-items ">
                                <a href="https://www.sellinicanta.com/" class="col-6 col-md-4 col-sm-4">
                                    <div class="store-item">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/shops/473.png" alt="">
                                    </div>
                                </a>
                                <a href="https://osmanlidogaltas.com/" class="col-6 col-md-3 col-sm-4">
                                    <div class="store-item">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/shops/624.png" alt="">
                                    </div>
                                </a>
                                <a href="https://jeffreestarcosmetics.com/" class="col-6 col-md-3 col-sm-4">
                                    <div class="store-item">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/shops/699.png" alt="">
                                    </div>
                                </a>
                                <a href="https://lilakutu.com/" class="col-6 col-md-3 col-sm-4">
                                    <div class="store-item">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/shops/413.png" alt="">
                                    </div>
                                </a>
                                <a href="https://www.ayakkabicafe.com/" class="col-6 col-md-3 col-sm-4">
                                    <div class="store-item">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/shops/410.png" alt="">
                                    </div>
                                </a>
                                <a href="https://www.ifondi.com/" class="col-6 col-md-3 col-sm-4">
                                    <div class="store-item">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/shops/379.png" alt="">
                                    </div>
                                </a>
                                <a href="https://www.bbeox.com/" class="col-6 col-md-3 col-sm-4">
                                    <div class="store-item">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/shops/585.png" alt="">
                                    </div>
                                </a>
                                <a href="https://oldnavy.gap.com/browse/home.do?ssiteID=GAP&redirected_by=bon.az" class="col-6 col-md-3 col-sm-4">
                                    <div class="store-item">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/shops/280.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="markets-foot">
                        <a href="#" class="more-btn">
                            Daha çox
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>
                <div></div>
                <div></div>
            </div>
        </div>

        <!-- News section(xeberler) -->
        <div class="news-main-pg">
            <div class="news-block">
                <div class="news-head">
                    <h4>YENİLİKLƏR VƏ ELANLAR</h4>
                </div>
                <div class="news-body">
                    <div class="news-list-items">
                        <div class=" main-pg-news">
                            <div class="news-card-1  col-xl-3 col-xxl-3 col-sm-6 col-12 col">
                                <a href="#" class="news-card">
                                    <div class="card-text">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg"
                                             alt="Yeni il bayraminiz mubarek!">
                                        <div class="card-body">
                                            <span class="card-text-head">Yeni il bayraminiz Mubarek!</span>
                                            <p class="card-date">
                                                <i class="fa-solid fa-calendar-days"></i>
                                                <span>25.01.2024</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="news-card-1  col-xl-3 col-xxl-3 col-sm-6 col-12 col">
                                <a href="#" class="news-card">
                                    <div class="card-text">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg"
                                             alt="Yeni il bayraminiz mubarek!">
                                        <div class="card-body">
                                            <span class="card-text-head">Yeni il bayraminiz Mubarek!</span>
                                            <p class="card-date">
                                                <i class="fa-solid fa-calendar-days"></i>
                                                <span>25.01.2024</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="news-card-1  col-xl-3 col-xxl-3 col-sm-6 col-12 col">
                                <a href="#" class="news-card">
                                    <div class="card-text">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg"
                                             alt="Yeni il bayraminiz mubarek!">
                                        <div class="card-body">
                                            <span class="card-text-head">Yeni il bayraminiz Mubarek!</span>
                                            <p class="card-date">
                                                <i class="fa-solid fa-calendar-days"></i>
                                                <span>25.01.2024</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="news-card-1  col-xl-3 col-xxl-3 col-sm-6 col-12 col">
                                <a href="#" class="news-card">
                                    <div class="card-text">
                                        <img src="https://limakaz.s3.eu-west-2.amazonaws.com/public/news/news-170383622116394.png.jpeg"
                                             alt="Yeni il bayraminiz mubarek!">
                                        <div class="card-body">
                                            <span class="card-text-head">Yeni il bayraminiz Mubarek!</span>
                                            <p class="card-date">
                                                <i class="fa-solid fa-calendar-days"></i>
                                                <span>25.01.2024</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-foot">
                    <a href="#" class="more-btn ">
                        Daha çox
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Tariff Plans -->
        <div class="tariff-main-pg">
            <div class="tarif-block">
                <div class="tarif-head">
                    <div>
                        <h4>ÖLKƏLƏR ÜZRƏ TARİFLƏR</h4>
                    </div>
                    <div class="slider-btn">
                        <button class="move-prev" type="button">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                        <button class="move-next" type="button">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="slider-container" ">
                    <div class="tarif-card">
                        <div class="tariff-card-left card-slide">
                            <div class="tarif-card-header">
                                <img src="https://limak.az/new_front/assets/img/icons/tr-circle.svg" alt="">
                                <h3>Türkiyə</h3>
                            </div>
                            <div style="width: 350px;">
                                <div class="row tarif-item-row">
                                    <a class="tarif-item col-md-2">
                                        <span>Bakı-İçərişəhər</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Bakı-Xalqlar Dostluğu</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Xırdalan</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Sumqayıt</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Gəncə</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Zaqatala</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Balakən</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Bakı-Gənclik</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Bakıxanov</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Xətai</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>İnşaatçılar</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Badamdar</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Həzi Aslanov</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Zabrat</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tarif-price">
                                <table class="table">
                                    <tbody class="tarif-table-main">
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body table-body-mob">
                                                <span class="weight-1">0 - 0.1 kg</span>
                                            </td>
                                            <td class="tarif-table-body table-body-mob">
                                                <span class="price-2">1.70 AZN | 1.00 $</span>
                                            </td>
                                        </tr>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">0.101 - 0.25 kg</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">3.40 AZN | 2.00 $</span>
                                            </td>
                                        </tr>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">0.251 - 0.5 kg</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">5.10 AZN | 3.00 $</span>
                                            </td>
                                        </tr>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">0.501 - 0.7 kg</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">6.80 AZN | 4.00 $</span>
                                            </td>
                                        </tr>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">0.701 - 1 kg</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">7.65 AZN | 4.50 $</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tariff-card-right card-slide">
                            <div class="tarif-card-header">
                                <img src="https://limak.az/new_front/assets/img/icons/usa-circle.svg" alt="">
                                <h3>Amerika</h3>
                            </div>
                            <div>
                                <div class="row tarif-item-row">
                                    <a class="tarif-item col-md-2">
                                        <span>Bakı-İçərişəhər</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Bakı-Xalqlar Dostluğu</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Xırdalan</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Sumqayıt</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Gəncə</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Zaqatala</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Balakən</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Bakı-Gənclik</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Bakıxanov</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Xətai</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>İnşaatçılar</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Badamdar</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Həzi Aslanov</span>
                                    </a>
                                    <a class="tarif-item col-md-2">
                                        <span>Zabrat</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tarif-price">
                                <table class="table">
                                    <tbody>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">0 - 0.1 kg</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">4.17 AZN | 2.45 $</span>
                                            </td>
                                        </tr>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">0.101 - 0.25 kg</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">6.71 AZN | 3.95 $</span>
                                            </td>
                                        </tr>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">0.251 - 0.5 kg</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">5.10 AZN | 3.00 $</span>
                                            </td>
                                        </tr>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">0.501 - 0.7 kg</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">6.80 AZN | 4.00 $</span>
                                            </td>
                                        </tr>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">0.701 - 1 kg</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">7.65 AZN | 4.50 $</span>
                                            </td>
                                        </tr>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">1.001 - 10 kg - hər kg üçün</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">13.52 AZN | 7.95 $</span>
                                            </td>
                                        </tr>
                                        <tr class="tarif-table">
                                            <td class="tarif-table-body">
                                                <span class="weight-1">10 - kg -dan artıq hər kg üçün</span>
                                            </td>
                                            <td class="tarif-table-body">
                                                <span class="price-2">12.24 AZN | 7.20 $</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Sertificates Section -->
        <div class="sertf-main-pg">
            <div class="sertf-block">
                <div class="sertf-head">
                    <h4>SERTİFİKATLARIMIZ VƏ TƏRƏDAŞLARIMIZ</h4>
                </div>
                <div class="mySwiper">
                    <div class="sertf-body">
                        <div class="sertf-card swiper-slide">
                            <a class="sertf-card-tag" href="https://www.iata.org/">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/1678780850.png" alt="">
                            </a>
                        </div>
                        <div class="sertf-card swiper-slide">
                            <a class="sertf-card-tag" href="https://www.turkishairlines.com/">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/1678780922.png" alt="">
                            </a>
                        </div>
                        <div class="sertf-card swiper-slide">
                            <a class="sertf-card-tag" href="#">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/1678780875.png" alt="">
                            </a>
                        </div>
                        <div class="sertf-card swiper-slide">
                            <a class="sertf-card-tag" href="https://limaklogistic.com/tr">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/1678780898.png" alt="">
                            </a>
                        </div>
                        <div class="sertf-card swiper-slide">
                            <a class="sertf-card-tag" href="https://www.silkwaywest.com/">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/1678780947.png" alt="">
                            </a>
                        </div>
                        <div class="sertf-card swiper-slide">
                            <a class="sertf-card-tag" href="https://apagroup.az/az">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/1678795184.png" alt="">
                            </a>
                        </div>
                        <div class="sertf-card swiper-slide">
                            <a class="sertf-card-tag" href="https://norma.az/">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/1678795449.png" alt="">
                            </a>
                        </div>
                        <div class="sertf-card swiper-slide">
                            <a class="sertf-card-tag" href="https://vesti.az/">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/1678795496.png" alt="">
                            </a>
                        </div>
                        <div class="sertf-card swiper-slide">
                            <a class="sertf-card-tag" href="https://www.kapitalbank.az/en">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/1678795621.png" alt="">
                            </a>
                        </div>
                        <div class="sertf-card swiper-slide">
                            <a class="sertf-card-tag" href="hhttps://pintravel.az/">
                                <img src="https://limakaz.s3.eu-west-2.amazonaws.com/sliders/1681299204.png" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div style="height: 80px;"></div>

    </div>
</div>