@using Limakaz.ViewModels.Tariff
@model TariffUpdateViewModel
@{
    Layout = "_AdminLayout";
}

<form method="post" class="row g-3">
    <a asp-route="update-tariff-post"></a>
    <div class="col-md-6">
        <label asp-for="Weight" class="form-label">Çəki</label>
        <input asp-for="Weight" type="text" class="form-control">
        <span asp-validation-for="Weight" class="text-danger"></span>

    </div>
    <div class="col-md-6">
        <label asp-for="PriceAzn" class="form-label">Qiymət AZN</label>
        <input asp-for="PriceAzn" type="text" class="form-control">
        <span asp-validation-for="PriceAzn" class="text-danger"></span>

    </div>
    <div class="col-md-6">
        <label asp-for="PriceUsd" class="form-label">Qiymət USD</label>
        <input asp-for="PriceUsd" type="text" class="form-control">
        <span asp-validation-for="PriceUsd" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputState" class="form-label">Ölkə</label>
        <select id="inputState" asp-for="CountryId" class="form-select">
            @foreach (var country in Model.Country)
            {
                @if(country.Id == Model.CountryId)
                {
                    <option value="@country.Id" selected>@country.Name</option>
                }
                else
                {
                    <option value="@country.Id">@country.Name</option>
                }

            }
        </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Yadda Saxla</button>
    </div>
</form>