@using Limakaz.Contracts
@model RegisterViewModel;
@{
    Layout = "_ClientLayout";
}

@section custom_plugin_styles{
    <link rel="stylesheet" href="~/client/assets/Styles/scss/register.css">

}

<!-- Middle Sections -->
<div>
    <!-- Middle Section -->
    <div class="middlecontainer">
        <!-- REGISTER FORM Plans -->
        <div class="register-main-pg">
            <div class="register-block">
                <div class="register-head">
                    <div>
                        <h4>İSTİFADƏÇİ QEYDİYYATI</h4>
                    </div>
                    <ol class="register-breadcamp">
                        <li>
                            <a href="#" class="regr-breadcamp-tag">Ana səhifə</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                        </li>
                        <li>
                            <span>QEYDİYYAT</span>
                        </li>
                    </ol>
                </div>
                <div class="register-block-body">
                    <div class="register-card">
                        <div class="register-card-head">
                            <img src="" alt="">
                            <h3 class="register-card-head-first">İSTİFADƏÇİ <b>QEYDİYYATI</b></h3>
                        </div>
                        <form class="form-regr needs-validation" method="post" asp-route="user-register-post">
                            <div class="row form-regr-main-row">
                                <div class="col-md-6 col-12 form-con-first-row">
                                    <h3 class="form-title">
                                        Profil məlumatları
                                    </h3>
                                    <div class="row">
                                        <div class="col-12">
                                            <select class="regr-form-select-person" asp-for="PersonType">
                                                @foreach (var item in Enum.GetValues(typeof(PersonType)))
                                                {
                                                    <option value="@item">@item şəxs</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" asp-for="Name" placeholder="Ad" required="required"
                                                   class="form-control reg-name" id="validationCustom04" required>
                                             <span asp-validation-for="Name"></span>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" asp-for="Surname" placeholder="Soyad" required="required"
                                                   class="form-control reg-surname" id="validationCustom05"
                                                   required>
                                            <span asp-validation-for="Surname"></span>

                                        </div>
                                        <div class="col-12">
                                            <input type="email" asp-for="Email" placeholder="E-mail" required="required"
                                                   class="form-control reg-email" id="validationCustom06" required>
                                            <span asp-validation-for="Email"></span>

                                        </div>
                                        <div class="col-12">
                                            <div class="regr-phone-group" role="group">
                                                <div class="phone-prefix-regr">
                                                    <div class="dropdown b-dropdown btn-group">
                                                        <!-- <button type="button">050</button> -->
                                                        <select class="dropdown-select-prefix">
                                                            <option value="1">
                                                                <a href="#" target="_self"
                                                                   class="dropdown-option">050</a>
                                                            </option>
                                                            <option value="2">
                                                                <a href="#" target="_self"
                                                                   class="dropdown-option">099</a>
                                                            </option>
                                                            <option value="3">
                                                                <a href="#" target="_self"
                                                                   class="dropdown-option">055</a>
                                                            </option>
                                                            <option value="4">
                                                                <a href="#" target="_self"
                                                                   class="dropdown-option">051</a>
                                                            </option>
                                                            <option value="5">
                                                                <a href="#" target="_self"
                                                                   class="dropdown-option">070</a>
                                                            </option>
                                                            <option value="6">
                                                                <a href="#" target="_self"
                                                                   class="dropdown-option">077</a>
                                                            </option>
                                                            <option value="7">
                                                                <a href="#" target="_self"
                                                                   class="dropdown-option">010</a>
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <input type="number" asp-for="PhoneNumber" placeholder="Telefon" required="required"
                                                       class="form-control reg-phoneNum" id="validationCustom"
                                                       required>

                                            </div>
                                        </div>
                                        <div class="pass col-md-6 col-12">
                                            <input id="password-regr" asp-for="Password" autocomplete="new-password"
                                                   type="password" placeholder="Şifrə"
                                                   required="required">
                                            <span asp-validation-for="Password"></span>
                                            <a class="visibility-btn-new-password">
                                                <span class="hide-eye-pas shop-p"></span>
                                            </a>
                                        </div>
                                        <div class="pass col-md-6 col-12">
                                            <input id="password-confirmation-regr" asp-for="ConfirmPassword" type="password"
                                                   autocomplete="current-password"
                                                   placeholder="Şifrənin təkrarı" required="required">
                                            <a class="visibility-btn-password-confirm">
                                                <span class="confr-password-show shop-p"></span>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <select id="deliveryOffice" asp-for="OfficeId" class="delivary-office-regr">
                                                <option disabled="disabled">Çatdırılma ofisi</option>
                                                @foreach(var office in Model.Officies)
                                                {
                                                    <option value="@office.Id">@office.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <select class="notif-type-regr">
                                                <option disabled="disabled">Bildiriş tipi</option>
                                                <option value="1">SMS</option>
                                                <option value="2">Whatsapp</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 form-con-second-row">
                                    <h3 class="form-title">
                                        Şəxsiyyət vəsiqəsi məlumatları
                                    </h3>
                                    <div class="row">
                                        <div class="col-12">
                                            <select class="select-nation-regr">
                                                <option disabled="disabled" value="0">Vətəndaşlığı</option>
                                                <option value="Azərbaycan">Azərbaycan</option>
                                                <option value="Xarici">Digər</option>

                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <input type="text" placeholder="Seriya nömrəsi" required="required"
                                                   id="serial-num" class="serial-number form-control">
                                        </div>
                                        <div class="col-12">
                                            <div>
                                                <div class="date-input">
                                                    <input type="date" class="date-input-regr form-control"
                                                           max="2007-01-01" id="validationCustom08"
                                                           required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <select class="select-gender-regr">
                                                <option disabled="disabled" value="0">Cinsi</option>
                                                <option value="1">Kişi</option>
                                                <option value="2">Qadın</option>
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <input type="text" placeholder="FİN*"
                                                   id="regr-fin validationCustom07"
                                                   class="form-control regr-fin-code" required="required">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleFin"
                                               id="Fin">
                                                <i class="fa-solid fa-circle-info"></i>
                                            </a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleFin" tabindex="-1"
                                                 aria-labelledby="exampleFinLabel" aria-hidden="true">
                                                <div class="modal-dialog pas-img-dialog">
                                                    <div class="modal-content passport-modal">
                                                        <div class="modal-header">
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="passport-images">
                                                                <img src="https://limak.az/new_front/assets/images/passport/1.svg"
                                                                     alt="">
                                                                <img src="https://limak.az/new_front/assets/images/passport/2.svg"
                                                                     alt="">
                                                                <img src="https://limak.az/new_front/assets/images/passport/3.svg"
                                                                     alt="">
                                                                <img src="https://limak.az/new_front/assets/images/passport/4.svg"
                                                                     alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <input type="text" id="regr-adress" required="required"
                                                   placeholder="Ş/V-dəki ünvan" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-regr-footer">
                                    <div class="form-check-checkbox">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="invalidCheck" required>
                                            <label class="form-check-label" for="invalidCheck">
                                                <a id="terms-link" data-bs-toggle="modal"
                                                   data-bs-target="#exampleTermandCondi" required="required">
                                                    İstifadəçi qaydaları ilə razıyam
                                                </a>
                                            </label>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleTermandCondi" tabindex="-1"
                                                 aria-labelledby="exampleTermsLabel" aria-hidden="true">
                                                <div class="modal-dialog terms-modal-dialog">
                                                    <div class="modal-content terms-modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title modal-terms-title fs-5"
                                                                id="exampleTermsLabel">
                                                                "LİMAK AZ" MMC-NİN
                                                                İSTİFADƏÇİ QAYDALARI
                                                            </h1>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body terms-modal-body">
                                                            <div class="reminder-modal">
                                                                <div>
                                                                    <ul>
                                                                        <li>
                                                                            İstifadəçi sistemdə qeydiyyatdan
                                                                            keçməklə, şəxsi məlumatlarını tələb
                                                                            olunan qaydada qeyd etməlidir.
                                                                        </li>
                                                                        <li>
                                                                            İstifadəçi qeydiyyatdan keçmək üçün
                                                                            daxil etdiyi məlumatların
                                                                            doğruluğuna görə məsuliyyət daşıyır.
                                                                        </li>
                                                                        <li>
                                                                            Sonradan qeyd olunmuş məlumatlarda
                                                                            dəyişikliklər olarsa, bununla
                                                                            bağlı sistemə məlumatların
                                                                            yenilənməsi üçün bildiriş göndərmək
                                                                            istifadəçinin öhdəliyidir.
                                                                        </li>
                                                                        <li>
                                                                            Qadağan olunmuş məhsullar sifariş
                                                                            verilərsə, xidmət həmin istifadəçi
                                                                            üçün bloklana bilər.
                                                                        </li>
                                                                        <li>

                                                                            Sistemin tələb etdiyi qaydada ödəmə
                                                                            etmək istifadəçinin öhdəliyidir.
                                                                        </li>
                                                                        <li>

                                                                            Öz şifrə və məlumatlarını digər
                                                                            şəxslərlə paylaşmamalıdır. Belə
                                                                            hallar
                                                                            baş verərsə borclanmaya və sifarişin
                                                                            statusunun dəyişməsinə görə,
                                                                            şəxs özü cavabdehdir.
                                                                        </li>
                                                                        <li>

                                                                            İstifadəçi ay ərzində dəyəri 300 (üç
                                                                            yüz) ABŞ dolları məbləğinədək
                                                                            əşya sifariş etdikdə, istifadəçidən
                                                                            gömrük rüsumu tutulmur.
                                                                        </li>
                                                                        <li>

                                                                            Sifarişin dəyəri bir ay ərzində 300
                                                                            (üç yüz) ABŞ dolları məbləğindən
                                                                            artıq olarsa, İstifadəçi sifarişin
                                                                            ümumi dəyərinin 36%-i (otuz altı
                                                                            faiz)
                                                                            miqdarında gömrük orqanlarına gömrük
                                                                            rüsumu ödəmək öhdəliyini öz
                                                                            üzərinə götürür.
                                                                        </li>
                                                                        <li>

                                                                            Daşıyıcı bütün sifarişlərin
                                                                            daşımasını həyata keçirərkən yalnız
                                                                            300
                                                                            ABŞ dollarınadək sifariş olduqda
                                                                            gömrük sənədləşmələrini öz üzərinə
                                                                            götürür. Dəyəri daha yüksək məbləğdə
                                                                            sifariş verilərsə, daşıyıcı malı
                                                                            Gömrük terminalınadək gətirməyi,
                                                                            istifadəçi isə digər sənədləşmə və
                                                                            malın terminaldan təhvil
                                                                            götürülməsini öz üzərinə götürür.
                                                                        </li>
                                                                        <li>

                                                                            Daşınan bağlamanın çatdırılma üçün
                                                                            xidmət haqqı iki meyar üzrə, çəki
                                                                            və həcmə görə hesablanır. İstifadəçi
                                                                            bu meyarlar üzrə hesablanmış
                                                                            daşıma haqqının daha çox olanı üzrə
                                                                            ödəniş aparmalıdır.
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="reminder-modal-btn">
                                                                <button type="button"
                                                                        class="btn-terms-agree">
                                                                    <div>
                                                                        Təsdiq
                                                                    </div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="regr-btn btn">
                                        <span>QEYDİYYAT</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

 @section custom_plugin_scripts{
    <script src="~/client/assets/Js/register.js"></script>

 }